<div id="prjs-list-wrp" class="row">
  <div id="prjs-list" class="small-12 large-12 columns">

    <% if (prjs && Object.isArray(prjs)) { %>

      <div class="section-container accordion" data-section="accordion">
        <% prjs.each(function(prj) { %>
          <section>

            <p class="title" data-section-title>
              <a href="#">
                <span class="label radius"><%= prj.shown_name %></span>
              </a>
            </p>

            <div class="prj content" data-section-content>
              <% if (prj.has_details) { %>

                <h4 class="prj-title"><%= prj.shown_name %></h4>

                <% if (prj.hasOwnProperty("desc")) { %>
                  <h4 class="prj-subtitle subheader">
                    <%= prj.shown_desc %>
                  </h4>
                <% } %>
                <% if (prj.btns) { %>
                  <div class="prj-btns">
                    <% prj['btns'].each(function(btn) { %>
                      <a class="prj-btn button small secondary radius"
                         href="<%= btn['link'] %>">
                        <%= btn['name'].titleize() %>
                      </a>
                    <% }); %>
                  </div>
                <% } %>
              <% } else { %>
                <span class="label success radius">
                  No additional details
                </span>
              <% } %>
            </div>

          </section>
        <% }); %>
      </div>

    <% } else { %>

      <span class="label alert radius">
        No projects available at the moment
      </span>

    <% } %>

  </div>
</div>
